body {
  background-color: #F5F6F7;
}


.bold {
  color: #17614A !important;
}

#logo {
  width: 100%;
}

/* Button */
.ais-Dropdown-button {
  padding: 0.75rem 1.5rem;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  appearance: none;

  background-image: linear-gradient(-180deg, #fff, #f5f5fa);
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
  color: #23263b;
  user-select: none;
  border-radius: 10%;
  margin-bottom: -8px;
  
}

.ais-Dropdown-button:hover {
  background-image: linear-gradient(-180deg, #fff, #f5f5fa);
}

.ais-Dropdown-button:disabled[disabled] {
  background-image: linear-gradient(-180deg, #fff, #f5f5fa);
  border-color: #efeff5;
  box-shadow: none;
  color: #b6b7d5;
}

.ais-Dropdown-button--refined {
  font-weight: bold;
}

/* Panel */
.ais-Dropdown.ais-Panel {
  margin: 0;

}

.ais-Dropdown .ais-Panel-body {
  position: absolute;
  border: 1px solid #d6d6e7;
  border-radius: 0.25rem;
  padding: 0.8rem;
  margin-top: 0.5rem;
  background-color: #fff;
}


.ais-Dropdown .ais-Panel-header {
  margin-bottom: 0;
}

.ais-Dropdown .ais-Panel-body {
  display: none;
}

.ais-Dropdown .ais-Panel-footer {
  margin: 0;
}

.ais-Dropdown--opened .ais-Panel-body {
  display: block;
}

/* Mobile */
.ais-Dropdown-close {
  display: none;
  width: 100%;
  margin: 0 1rem 1rem;
}

.ais-Dropdown-mobileTitle {
  display: none;
  margin-top: 0;
}

@media only screen and (max-width: 375px) {

  .ais-Dropdown.ais-Dropdown--opened .ais-Panel-body {
    position: fixed;
    inset: 0;
    margin: 0;
    background: #fff;
    padding-bottom: 4rem;
    overflow-y: auto;
    z-index: 10;
  }

.ais-Dropdown-button {
  width: 100px;
  height: 30px;
  font-size: 7px;
  
}

#emailhead {
  display: none;
}

  .ais-Dropdown.ais-Dropdown--opened .ais-Panel-footer {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;
  }

  .ais-Dropdown--opened .ais-Dropdown-close {
    display: inline;
    z-index: 10;
  }

  .ais-Dropdown-mobileTitle {
    display: block;
  }



}

.ais-SearchBox-input{
 width: 100%;

 padding-top: 8px;
 border-width: 2px;
 border-radius: 5px;
 font-size: 20px;
border-color: white
 
}

.ais-SearchBox {
  padding-bottom: 6px;
}


  
.ais-RefinementList-list {

  overflow: auto;
  left:-1em;
  right: auto;
  text-align:left;
}




.ais-SearchBox-input:focus {
  height: auto;
}

.ais-Hits-item {
  width: 100%
}

.ais-RefinementList-labelText {
padding-left: 5px;
padding-right: 5px;
font-size: 10px;
font-weight: 500;





}


.ais-RefinementList-count {
  color: #254790;
  background-color: #f3f3f3;
  font-size: 8px;
  border-radius: 6px;
  padding: 0 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-width: 2px;
}

#filter-title {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #203d7c;
  margin-top: 5px;
}



#emailhead {
  background-color: white;
  color: black;
}
.ais-SearchBox-submitIcon {
  display: none;
  
}


.ais-SearchBox-resetIcon {
  display: none;
}

#jobfilters {
  overflow: x-scroll;
}



#catfilter {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#postbtn {
  margin-top: -7px !important;
}




.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-bottom: 1.6%;
  background:background-color white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}




#submit {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


.modal > .header {
  font-size: 24px;
  text-align: center;
  padding: 5px;
}




.App {
  text-align: center;
}

h1 {
  font-size: 60px !important;
  font-weight: bold;
}


.spinner-wrapper {
  height: 100%; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
  z-index: 10;
}

@keyframes ldio-xrw7g30hrkj {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-xrw7g30hrkj div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-xrw7g30hrkj linear 1s infinite;
  background: #2c8c14;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-xrw7g30hrkj div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #2c8c14;
}.ldio-xrw7g30hrkj div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #2c8c14;
}
.loadingio-spinner-spinner-xphawmzupwn {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: white;
}
.ldio-xrw7g30hrkj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-xrw7g30hrkj div { box-sizing: content-box; }