@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bold {
  color: #17614a !important;
}

#logo {
  width: 100%;
}

/* Button */
.ais-Dropdown-button {
  padding: 30px;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
  appearance: none;

  border: 1px solid #d6d6e7;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);

  user-select: none;
  border-radius: 10%;
}

#titleban {
  line-height: 1.6;
}

.ais-Dropdown-button:hover {
  background-image: linear-gradient(-180deg, #fff, #f5f5fa);
}

.ais-Dropdown-button:disabled[disabled] {
  background-image: linear-gradient(-180deg, #fff, #f5f5fa);
  border-color: #efeff5;
  box-shadow: none;
  color: #b6b7d5;
}

.ais-Dropdown-button--refined {
  font-weight: bold;
}

/* Panel */
.ais-Dropdown.ais-Panel {
  margin: 0;
}

.ais-Dropdown .ais-Panel-body {
  position: absolute;
  border: 1px solid #d6d6e7;
  border-radius: 0.25rem;
  padding: 0.8rem;
  margin-top: 0.5rem;
  background-color: #fff;
}

.ais-Dropdown .ais-Panel-header {
  margin-bottom: 0;
}

.ais-Dropdown .ais-Panel-body {
  display: none;
}

.ais-Dropdown .ais-Panel-footer {
  margin: 0;
}

.ais-Dropdown--opened .ais-Panel-body {
  display: block;
}

/* Mobile */
.ais-Dropdown-close {
  display: none;
  width: 100%;
  margin: 0 1rem 1rem;
}

.ais-Dropdown-mobileTitle {
  display: none;
  margin-top: 0;
}

@media only screen and (max-width: 375px) {
  .ais-Dropdown.ais-Dropdown--opened .ais-Panel-body {
    position: fixed;
    inset: 0;
    margin: 0;
    background: #fff;
    padding-bottom: 4rem;
    overflow-y: auto;
    z-index: 10;
  }

  .ais-Dropdown-button {
    width: 100px;
    height: 60px;
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 20px;
  }

  #emailhead {
    display: none;
  }

  .ais-Dropdown.ais-Dropdown--opened .ais-Panel-footer {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;
  }

  .ais-Dropdown--opened .ais-Dropdown-close {
    display: inline;
    z-index: 10;
  }

  .ais-Dropdown-mobileTitle {
    display: block;
  }
}

.ais-SearchBox-input {
  width: 100%;
  padding-top: 8px;
  border-width: 2px;
  border-radius: 5px;
  font-size: 20px;
  border-color: white;
}

.ais-SearchBox {
  padding-bottom: 6px;
}

.ais-RefinementList-list {
  overflow: auto;
  left: -1em;
  right: auto;
  text-align: left;
}

.ais-SearchBox-input:focus {
  height: auto;
}

.ais-Hits-item {
  width: 100%;
}

.ais-RefinementList-labelText {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
}

.ais-RefinementList-count {
  color: #254790;
  background-color: #f3f3f3;
  font-size: 10px;
  border-radius: 6px;
  padding: 0 3px;
  padding-right: 3px;
  margin-right: 10px;
  border-width: 2px;
}

#filter-title {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #203d7c;
  margin-top: 5px;
}

#emailhead {
  background-color: white;
  color: black;
}
.ais-SearchBox-submitIcon {
  display: none;
}

.ais-SearchBox-resetIcon {
  display: none;
}

#jobfilters {
  overflow: x-scroll;
}

#catfilter {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#postbtn {
  margin-top: -7px !important;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background: background-color white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

#submit {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal > .header {
  font-size: 24px;
  text-align: center;
  padding: 5px;
}

.App {
  text-align: center;
}

#scroll-parent {
  position: relative;
  width: 100vw;
  height: 20rem;
  overflow-x: hidden;
}

#scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  animation: primary 40s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@media only screen and (max-width: 375px) {
  #scroll-parent {
    position: relative;
    width: 100vw;
    height: 20rem;
    overflow-x: hidden;
  }

  #scroll-element {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    align-items: center;
    animation: primary 30s linear infinite;
  }

  @keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
}

.loading {
  opacity: 0;
  transition: all 0.1s ease-in;
}

.loaded {
  opacity: 1;
  transition: all 0.1s ease-in;
}

#card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
  position: relative;
}

/* .filter .ais-RefinementList .ais-RefinementList-list .ais-RefinementList-item{
  @apply 
} */
.filter
  .ais-RefinementList
  .ais-RefinementList-list
  .ais-RefinementList-item
  .ais-RefinementList-label {
  @apply flex flex-row justify-between w-full cursor-pointer gap-3;
}
.filter
  .ais-RefinementList
  .ais-RefinementList-list
  .ais-RefinementList-item
  .ais-RefinementList-label
  .ais-RefinementList-labelText {
  @apply w-full font-Poppins font-normal text-sm leading-30 opacity-40;
}
.filter
  .ais-RefinementList
  .ais-RefinementList-list
  .ais-RefinementList-item
  .ais-RefinementList-label
  .ais-RefinementList-count {
  @apply font-normal text-sm leading-30 font-Poppins;
  background-color: transparent;
  border: none;
  color: black;
}
/* .filter
  .ais-RefinementList
  .ais-RefinementList-list
  .ais-RefinementList-item
  .ais-RefinementList-label
  .input[type="checkbox"] {
  background-color: red;
  border: none;
} */
.searchBox .ais-SearchBox {
  @apply p-0 w-full;
}
.searchBox .ais-SearchBox .ais-SearchBox-form .ais-SearchBox-input {
  @apply outline-none border rounded-md border-lightGray-100 px-5 py-2.5 font-normal text-sm leading-30 tracking-common font-Poppins;
}

.filter-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 35px;
  margin-bottom: 13px;
}

/* Hide the browser's default checkbox */
.filter-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-checkbox {
  @apply w-5 h-5 absolute top-0 left-0 border border-lightGray-25 rounded-md bg-transparent;
}

/* On mouse-over, add a grey background color */
.filter-checkbox:hover input ~ .checkmark-checkbox {
  @apply bg-lightGray-25;
}

/* When the checkbox is checked, add a blue background */
.filter-checkbox input:checked ~ .checkmark-checkbox {
  @apply bg-lightGreen-400 border-none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-checkbox .checkmark-checkbox:after {
  left: 7.5px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.filter-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-radio {
  @apply absolute top-0 left-0 w-5 h-5 border border-lightGray-25 rounded-full bg-transparent;
}
/* On mouse-over, add a grey background color  */
.filter-radio:hover input ~ .checkmark {
  @apply bg-lightGray-25;
}

/* When the checkbox is checked, add a blue background */
.filter-radio input:checked ~ .checkmark-radio {
  @apply bg-lightGreen-400 border border-lightGray-400;
}

/* Create the checkmark/indicator (hidden when not checked) */
.filter-radio .checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-radio input:checked ~ .checkmark-radio:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-radio .checkmark-radio:after {
  top: 1.45px;
  left: 1.45px;
  width: 15px;
  height: 15px;
  border: solid white;
  border-width: 3px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Range Slider Custom CSS */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 748px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #e9ebee;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #258b60;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  @apply font-Poppins font-normal tracking-common text-sm mt-4;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 272px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #258b60;
  border: 3.5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #258b60;
  border: 3.5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
