.footer {
  display: flex;

  background-color: white;
  justify-content: space-between;
  padding: 40px;
  border-top: 1px solid #00000024;

}

.footer1 {
  display: flex;

  background-color: white;
  justify-content: space-between;
  padding: 40px;
  border-top: 1px solid #00000024;

 
}


.footerEmail {
  display: flex;

  background-color: #fef266;
  justify-content: space-between;
  padding: 40px;
  border-top: 1px solid #00000024;
  margin-top: 20px;
}
.section_left {
  width: 60%;
}
.ul_content {
  width: 20%;
}

.ul_content1 {
  width: 20%;
  font-size: 12px !important;
}
.logo_section p {
  font-weight: 400;
  font-size: 19px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #000000;
 
  margin-top: 0px;
}
.socila_icons {
  display: flex;
 margin-top:10px;
}
.socila_icons svg {
  margin-right: 7px;
  cursor: pointer;
}

.socila_icons svg:hover circle {
  fill: #709771;
}
.twiter circle {
  fill: #fff;
  stroke: rgb(241, 241, 241);
}
.socila_icons svg:hover path {
  fill: #000000;
}
.twiter path {
  fill: #000;
}

.ul_content h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #000000;
  font-style: bold;
  margin-bottom: 15px;
}
.ul_content1 h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #000000;
  font-style: bold;
  margin-bottom: 15px;
}

.ul_content li {
  font-weight: 400;
  font-size: 12px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #000000;
  opacity: 0.4;
}

.ul_content1 li {
  font-weight: 400;
  font-size: 12px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #000000;
  opacity: 0.4;
}
@media only screen and (max-width: 600px) {
  .ul_content1 ul {
    padding-bottom: 20px; /* Add padding-bottom to create spacing between list items */
  }
  
  .ul_content1 li {
    font-weight: 500;
    margin-bottom: 10px;

    font-size: 10px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.4;
  }
}



@media only screen and (max-width: 600px) {
  .ul_content1 h2 {
    font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #000000;
  font-style: bold;
  margin-bottom: 30px;
  
  }
  }

.ul_content :hover {
  color: #000000;
}

.ul_content1 :hover {
  color: #000000;
}
.footer_bottom {
  padding-bottom: 40px;
}
.footer_bottom p {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #000000;
  opacity: 0.4;
}

.arrow_up {
  position: fixed;
  bottom: 30px;
  right: 100px;
  cursor: pointer;
}

/****** footer  css *******/
@media only screen and (max-width: 992px) {
  .logo_section p {
    font-size: 16px;
    line-height: 30px;
  }

}
@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }

  .socila_icons {
    margin-top: 10px;
  }
  .section_left {
    width: 100%;
  }
  .arrow_up {
    right: 30px;
  }
}

/****** footer  css end*******/
